/* GLOBAL */
body { 
    font-family:Arial, Helvetica, sans-serif;
}
h1, h2, h3, p {
    color: #00427a;
    line-height: 1.2em;
    margin-bottom: 0.8em;
}
h3  { 
    margin-bottom:0;
}
h2::before {
    content:'';
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    margin-right: 16px;
    background-color: yellow;

}
p { 
    font-size: 14px;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    line-height: 1.2em;
    color: #333;
}
ul li a {
    color: #00427a;
    line-height: 1.2em;
    text-decoration: none;
}

/* HEADER */

.hr-header { 
    width: 1060px;
    background-color: #00427a;
}
.header-container { 
    padding-top: 0px;
    width: 100%;
}

.row-header-wrapper {
    background-image: url(images/home-slider-1.jpg);
    padding-bottom: 400px;
    width: 100%;
    max-width: 100%;
    margin:0 0 


}
.row-header-bande {
    width: 100%;
    max-width: 100%;
    padding: 20px 0;
    background-color: #00427a;
} 

.row-header-bande-contact {
    margin-left: 200px ;
    color: white;
}
.row-header-bande-contact::before{
    display: inline-block;
    content: '';
    /* background-color: red; */
    /* content: url('images/icone-tel.png'); */
    background-image: url('images/icone-tel.png');
    background-position: center;
    background-size: cover;
    width: 20px;
    height: 20px;
    margin-right: 0.7em ;
   vertical-align: middle;
}
   

.row-header-content {
    width: 1280px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 6px;
    

}

h1 { 
    padding: 20px 0;
    margin-bottom: 0;
    text-align: left;
    width: 1060px;
    position: relative;
    
}
.nav-top { 
    width: 1060px;
    position: relative;
    margin-left: -41px;
    margin-bottom: 10px;
    
 }
.nav-top ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-right: 15px;
    align-items: center;
   


}
.nav-top-right { 
    display: inline;
    display: flex;
    flex-direction: row;
    margin-left: 151px;
}
.nav-top ul li { 
    padding: 10px 10px ;
    margin: 0 15Px;
}
.logo-top {
    position: absolute;
    z-index: 10;
    left: -69px;
    top: 10px;
}
.hr-header-image {
    width: 1400px;

}

/* intro */

img.max100{
    max-width:100% ;
    height: auto;
}

.row-content {
    padding: 2%;
 
}

.row-right .flexrow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 5%;

}

.flexrow article {
    padding: 15px;
    border: solid 1px #cecece;
    min-height: 420px;
    position: relative;
}

a.std-link { 
    color: #d2232a;
    text-decoration: none;
    font-size: 14px;

}

a.std-link.leftbottom {
    position: absolute;
    right: 0.5em;
    bottom: 0.5em;

}

a.std-link::after { 
    display: inline-block;  
    content:'>';
    font-size: 16spx;
    margin-left: 0.5em;
    vertical-align: middle;
}

.row-left .flexnone { 
    min-height: 420px;
    position: relative;
}

.separateur-section { 
    text-align: center;
}

/* Projet */

.row-projet {
    display:flex ;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
    max-height: 400px;
    
}

.row-content-left { 
    display: flex;
    flex-direction: column;
    align-content: 
    
}

.row-content-left-top { 
    text-align: justify;
    background-color: #fcb900;
    padding-bottom: 20px;
    padding-top: 15px;
    
}

.row-content-left-top h3 { 
    font-weight: 600;
    text-align: center;
}
.row-content-left-top ul {
color: #00427a;
font-size: 0.9em;
padding: 10px 10px ;
margin-left: 60px;
}

.row-content-left-top ul li {
    margin-top: 10px;

}

.row-content-left-top ul li::before {
    content: '';   
    display: inline-block;
    width: 5px ;
    height: 5px;
    border-radius: 50%;
    background-color: #00427a;
    margin-right: 5px;
    vertical-align: middle;
}
.row-content-middle { 
    
    padding: 0 20px
}


.row.row-projet > div { 
min-height: 400px;
    overflow: hidden;
}

.row-content-right { 
    display: flex;
    flex-direction: column;
    border: 1px solid #00427a;

}

.row-content-right-bottom { 
    text-align: center;
    padding-top: 10px;
}